section.navBar{ 
    background-color: rgba(0, 0, 0, 0.877);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.logo { 
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

ul li{ 
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
}

li:hover { 
    background-color: black;
    color: blanchedalmond;
    border-radius: 10px;
}

a { 
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.projects { 
    background-color: rgba(0, 0, 0, 0.877);
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center
}

.title{ 
    background-color: rgba(0, 0, 0, 0.877);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}























